<h1 class="bg-primary">{{ title }}</h1>

<select [(ngModel)]="category">
  <option value="0">Choisir une Catégorie</option>
  <option [value]=cat.id  *ngFor="let cat of categories">{{ cat.name}}</option>
</select>

  <!--<p>{{ category}}</p>-->

        <select name="" id="" [(ngModel)]="diffuculty">

          <option value="0">Choisir un Niveau</option>
          <option value="1">Facile</option>
          <option value="2">Intermédiaire</option>
          <option value="3">Difficile</option>

        </select>

<button (click)="runQuizz()">Démarrer Quizz</button>

<!--<p *ngFor="let question of questions">{{question.label}}</p>-->

<!-- Template de lq question-->
<div class="container">
  <div class="row">
    <div *ngIf="isQuizzRunning">
      <div>Question {{ questionIndex + 1 }} / {{ questions.length}}</div>
      <div>Score : {{score}} / {{ questions.length}}</div>
      <h2>{{ questions[questionIndex].label}}</h2>
      <section class="feedback" [ngStyle]="{'color': feedbackColor}">
        {{feedback}}
      </section>
      <div>
        <div *ngFor="let answer of questions[questionIndex].answers">
          <input [disabled]="isClientChoiceSent" (click)="checkAnswer(questions[questionIndex].id, answer.id)" type="checkbox">{{answer.label}}
        </div>
      </div>
        <footer>         
          <button *ngIf="!isServerResponseReceived" [disabled]="clientChoice.answers.length === 0 || isClientChoiceSent" (click)="validQuestion()">Valider</button>
          <button (click)="nextQuestion()" *ngIf="isServerResponseReceived && (questionIndex !== questions.length -1)">Question Suivante</button>
        </footer>
    </div>
  </div>
</div>
<!-- Template de lq question-->

<!--{{ questions[0].label}}-->



<!---->